absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
certifi
charset-normalizer
datasets
dill
filelock
frozenlist
fsspec
grpcio
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
Markdown
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
peft
pillow
propcache
protobuf
psutil
pyarrow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
setuptools
six
sniffio
sympy
tensorboard
tensorboard-data-server
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
xxhash
yarl
